@import "../_globals/_functions.scss", "../_globals/_mixins.scss", "../_globals/_variables.scss";

#bg-top {
	position: absolute;
	width: 100%;
	height: 2000px;
	overflow-x: hidden;
	top: 100px;

	@include media($md) {
		top: 60px;
	}

	.bg-layers {
		width: 100%;
		position: absolute;
		text-align: right;
		top: 0px;
		left: 0px;
		margin-top: -275px;

		@include media($lg) {
			top: 5%;
		}

		@include media($xs) {
			margin-top: -75px;
			width: 200%;
			top: -36px;
			left: -90%;
		}

		&.bg-layer1 {
			img {
				width: calc(100% + 175px);
				margin-left: -75px;
				@media (max-width: $max-xs) {
					width: calc(100% + 100px);
				}
			}
		}
		&.bg-layer2 {
			img {
				width: calc(100% + 175px);
				margin-left: -50px;
				@media (max-width: $max-xs) {
					width: calc(100% + 100px);
				}
			}
		}
		&.bg-layer3 {
			img {
				width: calc(100% + 175px);
				margin-left: -75px;
				@media (max-width: $max-xs) {
					margin-left: -36px;
					width: calc(100% + 100px);
				}
			}
		}
	}
}

#legacy-intro {
	font-family: $ltssecondaryfontfamily;
	font-size: 40px;
	line-height: 45px;
	font-weight: 100;
	color: $ltsnavy;
	opacity: 0;
	padding-top: 25%;
	bottom: -25px;
	@media (max-width: $max-md) {
		padding-top: 66%;
	}
	@include media($xs) {
		font-size: 24px;
		line-height: 28px;
	}
	.static-holder {
		border-right: 2px solid $ltsnavy;
	}
	.slide {
		position: absolute;
		opacity: 0;
		padding-right: 16px;

		@include media($lg) {
			padding-right: 24%;
		}

		@include media($md) {
			padding-right: 16px;
		}

		@include media($xs) {
			padding-right: 38%;
			left: 5%;
		}
	}
}

//Header
#header {
	margin-bottom: 150px;
	@media (max-width: $max-md) {
		padding-top: 30%;
	}
	@media (max-width: $max-xs) {
		padding-top: 66%;
	}
	img {
		width: 100%;

		@include media($xs) {
			width: 48%;
		}
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	.vertical-line-long {
		width: 50%;
		height: 25px;
		border-right: 1px solid $ltsgray-dark;
		padding-bottom: 0;
	}
	.vertical-line {
		width: 50%;
		height: 12px;
		border-right: 1px solid $ltsgray-dark;
		padding-bottom: 0;
		margin-top: 2px;
	}
	#arrow3 {
		height: 6px;
		/*margin-bottom: -5px;*/
		padding-bottom: 0px;
	}
	.start-here {
		position: absolute;
		width: auto;
		font-weight: 300;
		i {
			font-size: 14px;
		}
		a {
			color: $ltsgray-dark;
		}
	}
}
