/* Legacy Colors */
/* Legacy Fonts */
/* Legacy Fonts */
/* Media Break Points   *
 * to be used with mixin */
.gform_wrapper .gform_body {
  max-width: 100%;
}

.gform_wrapper label.gfield_label,
.gform_wrapper legend.gfield_label,
.gform_wrapper .gfield > .form-check-label {
  font-weight: 300 !important;
  font-size: 18px !important;
  color: #011e41;
}

.gform_wrapper .gfield_required {
  color: #011e41 !important;
}

.gform_wrapper div.validation_error {
  color: #797979 !important;
  border-top: 2px solid #d12030 !important;
  border-bottom: 2px solid #d12030 !important;
}

.gform_wrapper .validation_message {
  color: #797979 !important;
}

.gform_wrapper .gfield_error .gfield_label,
.gform_wrapper li.gfield_error ul.gfield_checkbox {
  color: #011e41 !important;
}

.gform_wrapper li.gfield.gfield_error {
  border-top: 1px solid #d12030 !important;
  border-bottom: 1px solid #d12030 !important;
  background-color: #e89098;
}

.gform_wrapper li.gfield_error
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.gform_wrapper li.gfield_error textarea {
  border: 1px solid #ffffff !important;
}

.gform_wrapper .ginput_container select {
  border: thin solid #797979;
}

.gform_wrapper .ginput_container.ginput_container_consent {
  display: flex;
}

.gform_wrapper .ginput_container.ginput_container_consent input {
  margin: 8px;
}

.gform_wrapper .ginput_container .gfield_required {
  display: none;
}

.gform_wrapper .ginput_container_date {
  width: 100%;
}

.gform_wrapper .ginput_container_date select {
  width: 100%;
}

.gform_wrapper .ginput_container_date .gfield_date_dropdown_month,
.gform_wrapper .ginput_container_date .gfield_date_dropdown_day,
.gform_wrapper .ginput_container_date .gfield_date_dropdown_year {
  width: calc((100% / 3) - 0.5rem);
}

.gform_wrapper ul.gfield_checkbox,
.gform_wrapper ul.gfield_radio {
  display: flex;
  flex-wrap: wrap;
}

.gform_wrapper ul.gfield_checkbox li,
.gform_wrapper ul.gfield_radio li {
  width: 30%;
}

@media (max-width: 767px) {
  .gform_wrapper ul.gfield_checkbox li,
.gform_wrapper ul.gfield_radio li {
    width: 50%;
  }
}

.gform_wrapper select {
  background: rgba(255, 255, 255, 0.5);
  padding: 5px 4px !important;
  border-radius: 0.25rem;
  color: #797979;
}

input.form-control,
textarea.form-control {
  background: rgba(255, 255, 255, 0.5);
  border: thin solid #797979;
}

input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #797979;
}

input.form-control::-moz-placeholder,
textarea.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #797979;
}

input.form-control:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #797979;
}

input.form-control:-moz-placeholder,
textarea.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #797979;
}

.btn {
  padding: 12px 36px;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}

.btn:focus {
  box-shadow: none;
}

.btn.btn-wide {
  width: 33%;
  max-width: 336px;
}

@media (max-width: 767px) {
  .btn.btn-wide {
    width: 100%;
  }
}

.btn.btn-primary {
  color: #d12030;
  background: #ffffff;
  border: thin solid #d12030;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background: #d12030;
}

.btn.btn-cta {
  background: #d12030;
  color: #ffffff;
  border: thin solid #d12030;
}

.btn.btn-cta:hover {
  background: #ffffff;
  color: #d12030;
}

.btn.btn-blue {
  color: #ffffff;
  background-color: #254e7f;
  border-color: #254e7f;
}

.btn.btn-blue:hover {
  background: #ffffff;
  color: #254e7f;
}

.btn.btn-blue-inverse {
  color: #254e7f;
  background-color: #ffffff;
  border-color: #254e7f;
}

.btn.btn-blue-inverse:hover {
  background: #254e7f;
  color: #ffffff;
}

.btn.btn-blue-light {
  color: #ffffff;
  background-color: #94b8d0;
  border-color: #94b8d0;
}

.btn.btn-blue-light:hover {
  background: #94b8d0;
  color: #94b8d0;
}

.btn.btn-blue-light-inverse {
  color: #94b8d0;
  background-color: #ffffff;
  border-color: #94b8d0;
}

.btn.btn-blue-light-inverse:hover {
  background: #94b8d0;
  color: #ffffff;
}

.btn.btn-navy {
  color: #ffffff;
  background-color: #011e41;
  border-color: #011e41;
}

.btn.btn-navy:hover {
  background: #ffffff;
  color: #011e41;
}

.btn.btn-navy-inverse {
  color: #011e41;
  background-color: #ffffff;
  border-color: #011e41;
}

.btn.btn-navy-inverse:hover {
  background: #011e41;
  color: #ffffff;
}

.btn.btn-line {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  margin-top: 15px;
}

.btn.btn-left {
  padding: 0.675rem 9rem 0.575rem 1.35rem;
  text-align: left;
  border-right: 1px solid #ffffff;
}

.btn.btn-left:hover {
  background-color: #d12030;
  border-color: #d12030;
}

.btn.btn-phone {
  border-right: 2px solid #ffffff !important;
}

.btn.btn-phone:hover {
  color: #011e41;
  background-color: #ffffff;
  border-color: #011e41;
  border-right: 1px solid #ffffff;
}

.btn.btn-right {
  border-left: 1px solid #ffffff;
}

.btn.btn-right:hover {
  color: #011e41;
  background-color: #ffffff;
  border-color: #011e41;
  border-left: 1px solid #ffffff;
}

.body-cta {
  font-family: "dunbar-tall", sans-serif;
  color: #d12030;
  font-weight: 600;
  font-style: italic;
  display: flex;
  align-items: center;
  line-height: 1.25;
  position: relative;
  padding: 0 24px 0 0;
}

.body-cta::after {
  content: "\f0a9";
  font-family: "Font Awesome 5 Pro";
  font-weight: 600;
  font-size: 120%;
  font-style: normal;
  color: #d12030;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.body-cta:hover {
  text-decoration: none;
}
